# Applied Data Science Capstone Week 3

### Importing libraries.

In [13]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [16]:
url='https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=1011037969'
response = requests.get(url)
data = response.text
soup = BeautifulSoup(data,'html.parser')
wiki_table=soup.find('table')
df = pd.read_html(str(wiki_table))[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [17]:
df.drop(0,inplace=True)
df.columns = ['PostalCode','Borough','Neighborhood']
df.head()

  PostalCode           Borough                      Neighborhood
1        M2A      Not assigned                      Not assigned
2        M3A        North York                         Parkwoods
3        M4A        North York                  Victoria Village
4        M5A  Downtown Toronto         Regent Park, Harbourfront
5        M6A        North York  Lawrence Manor, Lawrence Heights

In [19]:
df2=df[df['Borough'].str.contains("Not assigned") == False].reset_index()
df2.head()

,index,PostalCode,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [20]:
df3= df2.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [21]:
df3.shape

(103, 3)

In [22]:
df3.to_csv('Capstone_Week3part1.csv')